@media (prefers-color-scheme: dark) {
	:root {
	  --background-color: #323232;
	  --text-color: #ddd;
	  --shadow-color: #111;
	  --highlight: #666;
	  --primary: hsl(12, 90%, 60%);
	}
}

@media (prefers-color-scheme: light) {
	:root {
	  --background-color: #fefefe;
	  --text-color: #222;
	  --shadow-color: #999;
	  --highlight: #cdcdcd;
	  --primary: hsl(12, 70%, 40%);
	}
}

body {
	background-color: var(--background-color);
	color: var (--text-color);
}
input{
  font-size: 3em;
}

@page {
    size: A4
  }

  td{
    padding-right:20px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
  }
  
  .frontpage {
    display: flex;
    justify-content: space-between; /* ADJUSTED */
    align-items: center;
    flex-direction: column;         /* NEW */
  }
  
  .frontpage::before {              /* NEW */
    content: '';
  }
  
  .frontpage > * {
    text-align: center;
  }
  input[type=number] {
    width: 3ch; /* 3 characters width */
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: light-dark(#333333, #cccccc);
  color: dark-light(#333333, #cccccc);;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

#range {
  text-align: center;
  padding: 16px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

 /* Hide the spin buttons in WebKit browsers */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 /* Hide spin buttons in Firefox */
 input[type="number"] {
     -moz-appearance: textfield;
 }

 canvas {
  width: 90vmin;
  height:90vmin;
  background-color: light-dark(lightblue, darkblue);
  color: dark-light(lightblue, darkblue);	
 }

p {
  color: var(--text-color);
  background-color: var(--background-color) 
};
h2 {
  color: var(--text-color);
  background-color: var(--background-color) 
};

 /*prevent pwa refresh on scroll*/
 html,
body {
    overscroll-behavior-y: contain;
}
